
#root {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
}
#root #root_content {
  min-width: 0;
  -webkit-box-flex: 1;
          flex-grow: 1;
}
#root #root_footer {
  min-width: 0;
}
.progress {
  background-color: #dcd9dd;
}