
#layoutDefault {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
}
#layoutDefault #layoutDefault_content {
  min-width: 0;
  -webkit-box-flex: 1;
          flex-grow: 1;
}
#layoutDefault #layoutDefault_footer {
  min-width: 0;
}
