html body {
  display: block;
}
.btn-primary {
  --bs-btn-color: var(--bs-white);
}
.icon-list-social .icon-list-social-link {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
.icon-stack {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  background-color: #eff3f9;
}
.icon-stack svg {
  height: 1rem;
  width: 1rem;
}
.icon-stack-xl {
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
}
.icon-stack-xl svg {
  height: 1.75rem;
  width: 1.75rem;
}
#header > div {
  position: relative;
  padding-top: 12rem;
  padding-bottom: 12rem;
}